
@font-face {
    font-family: 'Vazir-Bold';
    src: url('/vazir-font/Vazir-Bold.woff2') format('woff2');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Vazir-Light';
    src: url('/vazir-font/Vazir-Light.woff2') format('woff2');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Vazir-Medium';
    src: url('/vazir-font/Vazir-Medium.woff2') format('woff2');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Vazir';
    src: url('/vazir-font/Vazir.woff2') format('woff2');
    font-display: swap;
  }